body {
	margin: 0px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.container {
	width: 100%;
	height: 1200px;
}

canvas[resize] {
	position: fixed;
    width: 100%;
    height: 100%;
    filter:blur(3px);
    -webkit-filter: blur(3px);
    z-index: 0;
}

svg {
	position: fixed;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 25px;
	width: 80px;
	left: 0px;
	bottom: 0px;
	z-index: 1000;
}

h3 {
	position: fixed;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 25px;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 1.3px;
	left: 0px;
	top: 0px;

}

.images {
	position: fixed;
	width: 600px;
	margin-left: -300px;
	margin-top: -200px;
	left: 50%;
	top: 350px;
/*	mix-blend-mode: multiply;*/
}

.menu {
	position: fixed;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 25px;
	right: 0px;
	top: 0px;
	z-index: 100;
}

a {
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 1px;
	padding-left: 10px;
}

a:hover {
	color: white;
}

.mobile-menu {
	display: none;
}
.mobileMenu-page {
	display: none;
}


@media screen and (max-width: 640px) {

 
.images {
	position: fixed;
	width: 400px;
	margin-left: -200px;
	margin-top: -160px;
	left: 50%;
	top: 275px;
}

.menu {
	display: none;
}

.button {
	position: fixed;
	width: 20px;
	height: 20px;
	background-color: black;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 25px;
	right: 0px;
	top: 0px;
	z-index: 1000;
}

.mobile-menu {
	position: fixed;
	display: none;
	text-align: center;
	width: 100%;
	z-index: 11;
	margin-top: 25%
}

.mobileMenu-page {
	display: block;
	padding: 5px;
	font-size: 18px;
	text-decoration: none;
	color: black;
	text-align: center;
}

.works-menu {
	display: none;
	font-weight: 200;
	margin-top: 10%;
}


}







