body {
	margin: 0px;
	overflow-x:hidden;
}

.container {
	width: 100%;
	height: 1600px;
	text-align: center;
}

.logo {
	position: fixed;
	margin-bottom: 10px;
	margin-top: 25px;
	margin-left: 20px;
	margin-right: 25px;
	width: 100px;
	left: 0px;
	bottom: 0px;
	z-index: 1000;

}
h3 {
	position: fixed;
	text-transform: uppercase;
	font-family: helvetica;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 25px;
	left: 0px;
	top: 0px;

}

.menu {
	position: fixed;
	font-family: helvetica;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 25px;
	right: 0px;
	top: 0px;
	z-index: 1000;
}

a {
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 18px;
	padding-left: 10px;
}
.content {
	text-align: left;
}

#wrapper{
	width: 600px;
	padding-top: 100px;
	padding-left: 10px;
	text-align: center;
}

#featIMG {
	width: 600px;
}

h2 {
	position: relative;
	font-family: helvetica;
	text-transform: uppercase;
	padding-bottom: 20px;
}

p {
	position: absolute;
	font-family: helvetica;
	width: 40%;
	padding-left: 53%;
	bottom: 260px;
}


.outer-container {
	position: fixed;
	display: inline-block;
	text-align: center;
	font-family: helvetica;
	text-transform: uppercase;
	font-style: italic;
	font-size: 10px;
	font-weight: 800;
	position: relative;
	height: auto;
	padding-top: 140px;

}

.flex-container {
	text-align: center;
	width: 100%;
	height: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.column {
	width: 400px;
	padding: 5px;
	align-item: center;
}

img {
  max-width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
}


a:hover {
	color: white;
}

.mobile-menu {
	display: none;
}
.mobileMenu-page {
	display: none;
}


@media screen and (max-width: 640px) {

.container {
	height: 2700px;
}

.menu {
	display: none;
}

.button {
	position: fixed;
	width: 20px;
	height: 20px;
	background-color: black;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 25px;
	right: 0px;
	top: 0px;
	z-index: 1000;
}

.mobile-menu {
	position: fixed;
	display: none;
	text-align: center;
	width: 100%;
	z-index: 11;
	margin-top: 25%
}

.mobileMenu-page {
	display: block;
	font-family: helvetica;
	padding: 5px;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	color: black;
	text-align: center;
}

.works-menu {
	display: none;
	font-weight: 200;
	margin-top: 10%;
}

p {
	display: inline-block;
	position: absolute;
	font-family: helvetica;
	width: 55%;
	padding-left: 140px;
	padding-top: 60px;
	bottom: 0px;
	top: 450px;
}

#wrapper{
	width: 100%;
	padding-top: 80px;
	padding-left: 0px;
	text-align: center;
}

.outer-container{
	padding-top: 450px;
	padding-left: 25px;
}

.column {
	width: 350px;
	align-item: center;
	padding: 0px;

}


}







