body {
	margin: 0px;
}

.container {
	width: 100%;
	height: 1200px;
}

iframe {
	width: 100%;
	height: 100%;
	mix-blend-mode: multiply;
}

.logo {
	position: fixed;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 25px;
	width: 100px;
	left: 0px;
	bottom: 0px;

}
h3 {
	position: fixed;
	text-transform: uppercase;
	font-family: helvetica;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 25px;
	left: 0px;
	top: 0px;

}

.menu {
	position: fixed;
	font-family: helvetica;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 25px;
	right: 0px;
	top: 0px;
}

a {
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 18px;
	padding-left: 10px;
}

a:hover {
	color: white;
}

.mobile-menu {
	display: none;
}
.mobileMenu-page {
	display: none;
}


@media screen and (max-width: 640px) {

.menu {
	display: none;
}

.button {
	position: fixed;
	width: 20px;
	height: 20px;
	background-color: black;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 25px;
	right: 0px;
	top: 0px;
}

.mobile-menu {
	position: fixed;
	display: none;
	text-align: center;
	width: 100%;
	z-index: 11;
	margin-top: 25%
}

.mobileMenu-page {
	display: block;
	font-family: helvetica;
	padding: 5px;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	color: black;
	text-align: center;
}

.works-menu {
	display: none;
	font-weight: 200;
	margin-top: 10%;
}


}







