html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}
div {
	position: fixed;
	width: 100px;
	height: 100px;
	background-color: red;
	margin-left: 200px;
	margin-top: 50px;
	z-index: 1000;
}
/* Scale canvas with resize attribute to full size */
canvas[resize] {
	position: fixed;
    width: 100%;
    height: 100%;
}
